.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(6, 5, 5);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-div{
  /* background-image: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX20548378.jpg"); */
  height: 1600px;
  width: 100%;
}

.link-div{
  background-color: rgba(235, 171, 45, 0.831);
  width: 25%;
  height: 17%;
  border: 3px solid #fff;
  padding: 20px;
}

.link{
  color: black;
}

.welcome-div{
  background-color: rgba(235, 171, 45, 0.831);
  width: 25%;
  height: 17%;
  border: 3px solid #fff;
  padding: 20px;
}


.errand-div{
  background-color: white;
  margin-left: 140%;
  width: 200%;

}

.errand-title{
  width: 50%;
}
