.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(6, 5, 5);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .app-div{
  background-image: url("https://img.freepik.com/free-vector/luxury-dark-seamless-pattern_1048-10342.jpg");
  height: auto;
  width: 100%;
} */

.link-div{
  background-color: rgba(235, 171, 45, 0.831);
  width: 25%;
  height: 17%;
  border: 3px solid #fff;
  padding: 20px;
}

.link{
  color: black;
}

.welcome-div{
  margin-left: 5%;
  margin-top: 4%;
  background-color: rgba(235, 171, 45, 0.831);
  width: 25%;
  height: 17%;
  border: 3px solid #fff;
  padding: 20px;

}


.person-detail-div{
  background-color: white;
  margin-left: 40%;
  margin-top: -17.5%;
  position: absolute;
  width: 200%;
  text-align: center;
  border: rgb(240, 195, 71) solid 4px;
  padding: 1rem;
  width: 40rem;
  /* height: rem;
  display: inline-grid;
  margin: 2rem 1rem;
  margin-left: 1.5%; */
}

.errand-title{
  width: 50%;
}

/* .errand-card{
  text-align: center;
  border: black solid 1px;
  padding: 1rem;
  width: 18rem;
  height: 31rem;
  display: inline-grid;
  margin: 2rem 1rem;
  margin-left: 1.5%;
} */
